{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Services -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <section class="section services-section gray-bg" id="services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>What I Do</h2>
                        <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="icon-desktop"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Unique design</h5>
                            <p>Unique design is the epitome of creativity and innovation. It goes beyond the boundaries of conventional thinking and explores new realms of possibilities.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="icon-pricetags"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Different Layout</h5>
                            <p>Different Layouts refers to the arrangement and organization of elements within a space. The layout plays a crucial role in determining the functionality, aesthetics, and user experience of a particular setting.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="icon-chat"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Make it Simple</h5>
                            <p> is a powerful mantra that emphasizes the beauty and effectiveness of simplicity. In a world often characterized by complexity and information overload, this reminds us of the value of clarity, efficiency, and minimalism.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Responsiveness</h5>
                            <p>the ability of a design or a website to adapt and respond to various devices, screen sizes, and user interactions. It is a crucial aspect of modern design, considering the diverse range of devices people use to access the internet, such as smartphones, tablets, laptops, and desktop computers.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="icon-target"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Testing for Perfection</h5>
                            <p>This is a crucial aspect of the creative process. It involves systematically evaluating and refining design solutions to ensure they meet the highest standards of quality, functionality, and aesthetics.By subjecting designs to rigorous testing, designers can identify and rectify potential flaws, improve user experiences, and achieve optimal results.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="icon-tools-2"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Advanced Options</h5>
                            <p>Workflow Efficiency, Customization and Personalization, Customization and Personalization, Workflow Efficiency, Cross-platform Compatibility, Experimentation and Innovation</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
            </div>
        </div>
    </section>
<!-- End Services -->


{% endblock %}
