{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Resume -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
   <section class="section" id="resume" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Experience</h2>
                        <p>Completed commentary projects</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="feature-box-2 dark">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <span class="time">2021 - 2022</span>
                        <h5>Wine store web application</h5>
                        <p>The web application is designed in a minimalist style with dark colors. The content of the website is made in accordance with the concept of the establishment.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-box-2 dark">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <span class="time">2022 - 2022</span>
                        <h5>Mobile application for a smart home</h5>
                        <p>The mobile application was developed in nude colors and with the functionality offered by the company.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="feature-box-2 dark">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <span class="time">2023- Present</span>
                        <h5>Smart menu for a restaurant</h5>
                        <p>The menu is designed for tablets, so that you can take orders without the help of waiters. The menu provides information about the dishes, their composition, and videos of their preparation. There is a children's mode for the youngest visitors.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End Resume -->
{% endblock %}
