
<header>
        <nav class="navbar header-nav header-white header-transparent navbar-expand-lg">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="navbar-brand" href="/">Kate<span></span></a>
                <!-- / -->
                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-toggle" aria-controls="navbar-collapse-toggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- / -->
                <!-- Top Menu -->
                <div class="collapse navbar-collapse justify-content-end one-page-nav" id="navbar-collapse-toggle">
                    <ul class="navbar-nav">

                        <li><a class="nav-link"  href="/">About Us</a></li>
                        <li><a class="nav-link"  href="/service">Services</a></li>
                        <li><a class="nav-link"  href="/resume">Resume</a></li>
                        <li><a class="nav-link" href="/portfolio">Portfolio</a></li>
                        <li><a class="nav-link" href="/price">Price</a></li>
                        <li><a class="nav-link"  href="/contact">Contact</a></li>
                    <li><a class="nav-link"  href="/accounts/login">For workers</a></li>

                    </ul>
                    <ul class="navbar-nav ml-auto d-none d-xl-flex">
                        <li>
                            <div class="nav header-social-icons align-items-center">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </div>
                        </li>
                        <li>
                            <a class="px-btn theme-t" href="#"><span>+38(099) 5332 865</span></a>
                        </li>




                    </ul>


                </div>
                <!-- / -->
            </div><!-- Container -->
        </nav> <!-- Navbar -->
    </header>
